.container {
    display: flex;
    flex-direction: column; 
    height: 800px;
    width: 800px;
    border: 1px solid black;
    align-items: stretch;
}

.rows {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

.cells {
    width: 100%;
    border: 1px solid lightgrey;
}

.black {
    background-color: black;
}